<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>球星排行榜</title>
    <link rel="stylesheet" href="/static/css/1.css">
</head>
<body>
{#{{ params }}#}
{#<a href="./index.html">回到首页</a>#}
<a href="/index">回到首页</a>
<ol>
    {% for one in params %}
        <li>
            <h2>
                <a href="{{ one.url }}">
                    <img src="/static/images/{{ one.img }}" alt="">

                </a>

            </h2>
            <h2>{{ one.name }}</h2>
        </li>
    {% endfor %}

</ol>

</body>
</html>